﻿@{
    ViewData["Title"] = "Home Page";
}

<partial name="_Carousel" />

<div class="container">
    <div class="row">
        <div class="col text-center">
            <h1 class="display-4">BEM VINDO(A) à Loja Power Sapatos</h1>
        </div>
    </div>