﻿@{
    ViewData["Title"] = "Home Page";
}

<partial name="_Carousel" />

@{
    ViewData["Title"] = "Home Page";
}



<div class="text-center my-5">
    <h1>Ben Vindo(a) ao Power Sapatos</h1>
    <p>A Melhor loja de Sapatos online</p>
    <a asp-controller="Product" asp-action="ProductList" class="btn btn-primary btn-lg">Ver Produtos</a>
</div>

