@model Category

@{
    Layout = "_Layout";
}

<div class="container mt-5">
    <h2 class="text-center mb-4">Editar Categoria</h2>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form asp-action="EditCategory" class="card p-4 shadow-sm" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
                <input type="hidden" asp-for="Id" />

                <div class="form-group">
                    <label asp-for="Description" class="control-label">Descrição da Categoria</label>
                    <input asp-for="Description" class="form-control" placeholder="Insira a descrição da categoria" required />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="ImageUrl" class="control-label">Imagem Atual da Categoria</label>
                    <div class="mb-3">
                        <img src="~/@Model.ImageUrl" alt="Imagem da Categoria" class="img-thumbnail" />
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="ImageUrl" class="control-label">Nova Imagem da Categoria</label>
                    <input type="file" asp-for="ImageUrl" class="form-control-file" />
                    <span asp-validation-for="ImageUrl" class="text-danger"></span>
                </div>

                <div class="form-group form-check">
                    <input class="form-check-input" type="checkbox" asp-for="IsActive" id="IsActiveCheck" />
                    <label class="form-check-label" for="IsActiveCheck">
                        Categoria Ativa
                    </label>
                </div>

                <div class="form-group text-center">
                    <button type="submit" class="btn btn-success">Salvar Alterações</button>
                    <a asp-action="CategoryList" class="btn btn-outline-danger">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
